name: nalelu
description: A new Flutter project.
publish_to: 'none'
version: 1.1.7+1.1.7

environment:
  sdk: '>=2.16.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  localization: ^2.1.0

  cupertino_icons: ^1.0.2
  google_mobile_ads: ^2.4.0
  url_launcher: ^6.0.6
  provider: ^6.0.5

  nrs_flutter_lib:
    path: ../nrs-flutter-lib

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  shared_preferences: ^2.0.13

  # flutter pub run flutter_launcher_icons:main
  flutter_launcher_icons: ^0.13.1
  flutter_native_splash: ^2.2.19

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/banners/
    - assets/manga/
    - lib/i18n/

flutter_intl:
  enabled: true

# flutter pub run flutter_launcher_icons:main
flutter_icons:
  android: true
  ios: true
  image_path_android: assets/icon.png
  image_path_ios: assets/icon.png
  adaptive_icon_background: assets/icon.png
  adaptive_icon_foreground: assets/icon.png

# flutter clean && flutter pub get && flutter pub run flutter_native_splash:create
flutter_native_splash:
  color: '#ff2f00'
  image: assets/splash.png
  color_dark: '#ff2f00'
  android: true
  ios: true

  # Commands:
  # Build deployable IOS:         flutter build ipa
  # Build deployable Android:     flutter build appbundle
  # Build debug installable IOS:  flutter build ios
  # Install on phone:             flutter install
